/* General Classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.no-display {
  display: none;
}

.read {
  width: 100px;
  border: 3px solid #000;
  color: #fff;
  background-color: #15542d;
}
.read::before {
  content: "Read";
}

.unread {
  width: 100px;
  border: 3px solid #000;
  color: #fff;
  background-color: #333;
}
.unread::before {
  content: "Unread";
}

.del-btn {
  width: 100px;
  border: 3px solid #000;
  background-color: #fff;
}

/* Styles */
body {
  font-size: 1.1rem;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #dfd6d7;
}

header {
  width: 100%;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #c9c2c2;
}
header > a,
header > a:visited {
  color: #000;
}
header > h1 {
  margin-bottom: 10px;
  font-size: 3.2rem;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

main > * {
  margin-bottom: 40px;
}

#add-book-btn {
  color: #fff;
  background-color: #54151c;
  border: 4px solid #000;
  min-width: 150px;
  height: 50px;
}

#book-form {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  background-color: #c9c2c2;
  border: 2px solid #000;
}
#book-form > * {
  margin-bottom: 20px;
  text-align: left;
}
#book-form label {
  margin-bottom: 5px;
}

#form-btn {
  color: #fff;
  background-color: #54151c;
  border: 4px solid #000;
  height: 50px;
  text-align: center;
}

#library-table {
  min-width: 650px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  border-collapse: collapse;
}
#library-table tr:nth-child(even) {
  background-color: #d7cfcf;
}
#library-table tr:nth-child(odd) {
  background-color: #c9c2c2;
}
#library-table td {
  height: 50px;
  vertical-align: middle;
}

#table-headers > th {
  font-size: 1.4rem;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
  border-collapse: collapse;
}
